body {
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: ms pgothic;
    text-shadow: 0 0 0px, 0 0 3px grey;
    font-size: 15px;
    line-height: 17px;

    background-color: rgba(255, 255, 255, 0.9);
}

html, body {
    height: auto;
    min-height: 0;
}

body a {
    text-decoration: underline;
    color: black;

}

body a:hover {
    text-decoration: underline;
    color: black;

}

.subject {

    padding: 60px;
    border: 1px;
    margin: auto 0;
    width: 560px;
    font-size: 14px;
    letter-spacing: 1px;
    
}

.area {
    margin: 0 auto;
    width:700px;
    max-width: 100%;
    background-color: white;
    overflow-x: hidden;
}

.side {
    padding: 10px;
    position: fixed;


}

.table {
    width: 100px;
    background-color: white;
    padding: 10px;
    border: 1px dotted black;
    float: right;
    line-height: 25px;

}

.fun {
    margin: 0 auto;
    padding: 40px;
    border: 1px;
    line-height: 20px;
    width: 650px;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 80%;
}

.box {
    width:700px;
    height:400px;
    margin:0 auto;
    padding:10px;
}



.me {
    background-color:white;
    padding:15px;
    width: 300px;
    height: 383px;

    font-family: georgia;
    font-size: 15px;
    line-height: 28.3px;
    opacity: 80%;

    float:left;
    text-shadow: 0 0 0px, 0 0 4px dimgray;

}

.right {
    
    float:right;



    
}

.sidepic {
    background-color:white;
    padding:15px;
    height:383px;
    overflow:hidden;
}



.updatebox {
    width:680px;
    text-align:center;
    margin: 15px auto 0 auto;
    height:15px;
    font-family:ms pgothic;
    letter-spacing:1px;
    font-weight:bold;
    background-color:white;
    border:1px solid black;
    color:black;
    padding:5px;
    text-shadow: 0 0 0px, 0 0 0px white;
}

.updates {
    margin:15px auto 10px auto;
    border:1px solid black;
    padding:0;
    background-color:white;
    width:680px;
    min-height:100px;
    box-sizing:border-box;
}

.updates-header {
    text-align:center;
    font-family:ms pgothic;
    padding:5px;
    background-color:white;
    border-bottom:1px solid black;
}

.text {
    padding:8px;
    overflow: auto;
    font-size:13px;
    line-height:20px;
    letter-spacing:1px;
    background-color:white;
    height:calc(100% - 27px);
    box-sizing:border-box;
}
