body {
    margin: 0 auto;
    font-family: ms pgothic;
    text-shadow: 0 0 0px, 0 0 3px grey;
    font-size: 12px;
    letter-spacing: 1px;

    background-image: url(https://i.ibb.co/whHV6XdG/shrimp-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body::before {
    content: '《偶然》 徐志摩   我是天空裡的一片雲，偶爾投影在你的波心──你不必訝異，更無須歡喜──在轉瞬間消滅了蹤影。你我相逢在黑夜的海上，你有你的，我有我的，方向；你記得也好，最好你忘掉，在這交會時互放的光亮。   我是天空裡的一片雲，偶爾投影在你的波心──你不必訝異，更無須歡喜──在轉瞬間消滅了蹤影。你我相逢在黑夜的海上，你有你的，我有我的，方向；你記得也好，最好你忘掉，在這交會時互放的光亮。 \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A  《偶然》 徐志摩   我是天空裡的一片雲，偶爾投影在你的波心──你不必訝異，更無須歡喜──在轉瞬間消滅了蹤影。你我相逢在黑夜的海上，你有你的，我有我的，方向；你記得也好，最好你忘掉，在這交會時互放的光亮。   我是天空裡的一片雲，偶爾投影在你的波心──你不必訝異，更無須歡喜──在轉瞬間消滅了蹤影。你我相逢在黑夜的海上，你有你的，我有我的，方向；你記得也好，最好你忘掉，在這交會時互放的光亮。 \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A  《再別康橋》 徐志摩   輕輕的我走了，正如我輕輕的來；我輕輕的招手，作別西天的雲彩。那河畔的金柳，是夕陽中的新娘；波光裡的艷影，在我的心頭蕩漾。軟泥上的青荇，油油的在水底招搖；在康河的柔波裡，我甘心做一條水草！那榆蔭下的一潭，不是清泉，是天上虹；揉碎在浮藻間，沉澱著彩虹似的夢。尋夢？撐一支長篙，向青草更青處漫溯；滿載一船星輝，在星輝斑斕裡放歌。但我不能放歌，悄悄是別離的笙簫；夏蟲也為我沉默，沉默是今晚的康橋！悄悄的我走了，正如我悄悄的來；我揮一揮衣袖，不帶走一片雲彩。 \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A  《偶然》 徐志摩   我是天空裡的一片雲，偶爾投影在你的波心──你不必訝異，更無須歡喜──在轉瞬間消滅了蹤影。你我相逢在黑夜的海上，你有你的，我有我的，方向；你記得也好，最好你忘掉，在這交會時互放的光亮。   我是天空裡的一片雲，偶爾投影在你的波心──你不必訝異，更無須歡喜──在轉瞬間消滅了蹤影。你我相逢在黑夜的海上，你有你的，我有我的，方向；你記得也好，最好你忘掉，在這交會時互放的光亮。 \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A \A  《再別康橋》 徐志摩   輕輕的我走了，正如我輕輕的來；我輕輕的招手，作別西天的雲彩。那河畔的金柳，是夕陽中的新娘；波光裡的艷影，在我的心頭蕩漾。軟泥上的青荇，油油的在水底招搖；在康河的柔波裡，我甘心做一條水草！那榆蔭下的一潭，不是清泉，是天上虹；揉碎在浮藻間，沉澱著彩虹似的夢。尋夢？撐一支長篙，向青草更青處漫溯；滿載一船星輝，在星輝斑斕裡放歌。但我不能放歌，悄悄是別離的笙簫；夏蟲也為我沉默，沉默是今晚的康橋！悄悄的我走了，正如我悄悄的來；我揮一揮衣袖，不帶走一片雲彩。';
    position: fixed;
    bottom: -20%;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 29px;
    line-height: 1.8;
    color: #333;
    opacity: 0.15;
    z-index: 0;
    pointer-events: none;
    word-wrap: break-word;
    padding: 20px;
    animation: fadeInPoem 0.5s ease-in forwards, scrollUp 60s linear infinite;
}

@keyframes fadeInPoem {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.15;
    }
}

@keyframes scrollUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-200vh);
    }
}

body a {
    text-decoration: none;
    color: black;

}

body a:hover {
    text-decoration: underline;
    color: grey;

}

.header {
    margin:0 auto ;
    margin-left: 28px;
    padding:1px;
}

.main {
    margin: 0 auto;
    margin-top: 15px;
    width: 1100px;
    position: relative;
    z-index: 1;
}

.sidebar {
    margin: 0 auto;

    width: 150px;
    margin-left:28px;
    height: 700px;
    float: left;




}

.sidebarlinks {
    padding: 15px;
    background-color: white;

    line-height: 20px;
    border: dotted 1px black;


}


.content {
    margin: 0;
    margin-right: 28px;
    float: right;
    border:1px solid gray;
    width: 750px;
    height: 700px;
    padding: 15px;
    background-color: white;
    box-shadow: 0px 0px 40px white;
}

iframe {
    margin: 0 auto;
    width: 750px;
    height: 700px;
    border: transparent;
}

.sidelefttitle {

    box-shadow: 0px 0px 30px white;
    background-color: #f1f3f4;
    padding: 5px;
    border: 1px dotted black;
    text-align: left;

    font-family: monospace;
    letter-spacing: 2px;
    text-shadow: 0 0 0px, 0 0 3px grey;

    font-size: 12px;
    font-weight: bold;
    color: black;
}

.message {
  
    background-color: white;
    border: 1px dotted black;
    padding:10px;
}
.musicbox {
    width: 150px;
    border: 1px dotted black;
    background-color: #f1f3f4;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 5px;
}

audio {
    border-top:dotted black 1px;
    border-radius: 0;
    width: 150px;
    max-width: 400px;
    height: 35px;
}

.rss-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.rss-link .rss-icon {
    width: 12px;
    height: 12px;
    display: inline-block;
}
